<!DOCTYPE html>
<html lang="ru">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <h2 class="text-center mb-4">📌 Мои задачи</h2>

        <button class="btn btn-outline-primary new-folder-btn">➕ Добавить новую папку</button>

        <div class="d-flex gap-3 flex-wrap">
            {% for folder in folders %}
            <div class="folder-column">
                <div class="folder">
                    <h5> {{folder.name }} <a href="#" class="edit-folder">🖊</a></h5>
                    <a href="#" class="add-task" id="button{{folder.id}}">➕ Добавить задачу</a>
                    <ul class="task-list mt-2" id = "{{folder.id}}">
                        {% for task in folder.tasks %}
                        <li class="task-item"><input type="checkbox"> {{ task.name }} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>

    <script>
        window.onload = function(){
            function add_btn(folder_id) {
            let newTask = document.createElement("li");
            newTask.innerHTML = `
            <form id="task-form">
                <div class="d-flex gap-2">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="task-name` + folder_id + `" placeholder="Task name" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btn` + folder_id + `">Add Task</button>
                </div>
            </form>
            `;
            document.getElementById(folder_id).appendChild(newTask);
            let button = document.getElementById("button" + folder_id);
            button.removeEventListener('click',() => add_btn(folder_id));
            let btn = document.getElementById("btn" + folder_id);
            btn.addEventListener('click', function() {
                let input = document.getElementById("task-name" + folder_id);
                $.ajax({
                    url: '',
                    type: 'post',
                    contentType: 'application/json',
                    data: {
                        input_text: input.value
                    },
                })
                button.addEventListener('click', () => add_btn(folder));
            });
            }
            let folders = JSON.parse('{{ f_ind|tojson }}');
            for (let folder of folders){
                let button = document.getElementById("button" + folder);
                button.addEventListener('click', () => add_btn(folder));
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
