{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <h2 class="text-center mb-4">Sign In</h2>
        {{ wtf.quick_form(form)}}
        <p class="text-center mt-3">
            New User? <a href="{{ url_for('auth.register') }}" class="text-primary">Click to Register!</a>
        </p>
    </div>
</div>
{% endblock %}
